.about {
    background-color: 	rgba(7, 174, 92, 0.8);
    padding: 35px 0;
}

.skills-title {
    font-weight: bold;
    padding: 30px 0;
}
.card-icon {
    padding: 5px;
    background-color:rgba(39, 245, 174, 0.54);
    box-shadow: 1px 1px 1px darkgreen, 0 0 25px grey, 0 0 2px darkgrey;
}
.img-card {
    width: auto;
    height: 90px;
    padding-bottom: 10px;
    
}
.img-avatar{
    width: auto;
    height: 300px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px darkgreen, 0 0 25px grey, 0 0 2px darkgrey;
}
.card-desr {
    font-weight: bold;
}
.about-cards{
    gap: 10px;
    justify-content: center;
}
.about-me {
    gap:10px;
}
.me-desc{
    background-color:rgba(255, 255, 255, 0.6);
    box-shadow: 1px 1px 1px darkgreen, 0 0 25px grey, 0 0 2px darkgrey;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    font-style: italic;
}