.about {
    background-color: 	rgba(7, 174, 92, 0.8);
    padding: 35px 0;
}

.skills-title {
    font-weight: bold;
    padding: 30px 0;
}
.card-icon {
    padding: 5px;
    background-color:rgba(39, 245, 174, 0.54);
    box-shadow: 1px 1px 1px darkgreen, 0 0 25px grey, 0 0 2px darkgrey;
}
.card.card-icon:hover{
    background-color:beige;
    border-radius: 5px;
      
}
.img-card {
    width: auto;
    height: 90px;
    padding-bottom: 10px;}
.img-avatar{
   width: 120px;
   height: 150px;
}
.card-desr {
    font-weight: bold;
}
.about-cards{
    gap: 10px;
    justify-content: center;
}
.about-me {
    gap:10px;
}
.me-desc {
    padding-left: 10px;
    
}
.about-links{
    text-decoration: none;
    color: black;
    width: 100px;
}

.card.card-icon.about-links:hover{
    width: 100px;
}