.contact{
    background-color: rgba(209, 252, 229, 0.55);
    padding: 35px 0;
    box-shadow: 1px 1px 1px  darkgreen, 0 0 25px grey, 0 0 2px darkgrey;
}
.img-contact{
    width: 50px;
    height: 50px;
}
.img-contact:hover{
    box-shadow: 1px 1px 1px  darkgreen, 0 0 25px grey, 0 0 2px darkgrey;
    border-radius: 10px;
}
.contact-subtitle{
    padding-right: 20px;
}
