.navigation {
  background-color:rgba(139, 241, 191, 0.8);
  box-shadow: 1px 1px 1px  darkgreen, 0 0 25px grey, 0 0 2px darkgrey;

}
.nav {
  padding: 25px 0;
}
a.nav-link {
    color: black;
    font-weight: bold;
  }

a.nav-link:hover {
   color: rgba(156, 3, 97, 0.63);
   font-weight: bold;
   text-decoration: underline;
}

#showMe {
    animation: cssAnimation 0s 1s forwards;
    opacity: 0; 
}
  
  @keyframes cssAnimation {
    to   { opacity: 1;}
  }