
@media only screen and (max-width: 768px) {
    .bg-home{
        display: none;
    }
   .nav-desktop{
    display: none;
   }
   .mobile{
     display: flex;
    }
    #home {
        height: auto;
    }
    .hero-title,.hero-name,.about-description{
        text-align: center;
    }
    .about-description {
        border-right: 1px solid black;
        font-size: 16px;
    }
   .about-me{
    flex-direction: column;
    align-items: center;
   }
   .me-desc{
    border-right: 1px solid black;
    border-left: 1px solid black ;
    padding: 0 10px;
   }
    .about-cards{
        gap: 10px;
        justify-content: center;
    }
    .works-cards{
        gap: 15px;
    }
    .contact-info {
        flex-direction: column;
        align-items: center;
    }
}
    
  @media only screen and (min-width: 768px) {
    .nav-desktop{
        display: flex;
        justify-content: flex-end;
    }
    .mobile {
        display: none;
    }
    
  }